body{
    height:max-content;
}

div {
    width: 100px;
    height: 100px;
    background-color:darkgrey;
    display: inline-block;
    margin : 20px;
    border :4px solid black;
}


#middle {
    background-color:deepskyblue
}

#static #middle {
    position: static;
    top: 100px;
}

#relative #middle {
    position: relative;
    top : 0px;
    left: 0px;
}

#absolute #middle{
    position: absolute;
    
}

#fixed #middle {
    position: fixed;
    top : 300px;
    right : 400px;
}