body{
    background-color: #000;
}

#container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

img {
    width: 100%;
    height : auto;
    border: #fff 5px solid;
    box-sizing: border-box;
    margin: calc(10%/6);
}

@media (max-width : 1200px){
    #container {
        grid-template-columns: repeat(2, 1fr);
    }
    img {
        box-sizing: border-box;
        margin: calc(10%/6);
    }
}

@media (max-width : 700px){
    #container {
        grid-template-columns: repeat(1, 1fr);
    }
    img {
        box-sizing: border-box;
        margin: calc(10%/6);
    }
}
